* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}
:root {
  --background-color-light: #ffffff; /* Светлая тема */
  --text-color-light: #000000;
  --background-color-dark: #1f1f1f; /* Темная тема */
  --text-color-dark: #ffffff;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
.dark-theme .styledInput {
  background-color: #2b2b2b; /* Серый цвет фона */
  color: white; /* Белый цвет текста */
  border-color: white; /* Белая рамка */
}

/* Убираем тень у поля ввода в тёмной теме */
.dark-theme .styledInput {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.dark-theme main > * {
  background-color: #252525; /* Серый цвет фона */
  color: white; /* Белый цвет текста */
}

.blueunderline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  color: #0284c7;
}

.redunderline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

main {
  max-width: 400px;
  /*border: 1px solid blue;*/
}

header {
  margin: 10px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  line-height: normal;
  align-items: center;
}

header img {
  max-height: 50px;
  max-width: 50px;
  transition: filter 0.3s ease;
}

footer {
  max-width: 400px;
  margin: 10px;
}

ul {
  list-style-type: none;
}

.btn-magic {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #0284c7;
  color: white;
  cursor: pointer;
}

.btn-magic:hover {
  background-color: #f45e0d;
}

/* Эффект риппла для мобильных устройств */
@media (hover: none) and (pointer: coarse) {
  .btn-magic {
    position: relative;
    overflow: hidden;
  }

  .btn-magic::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background-color: rgba(32, 6, 110, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rippleEffect 0.5s linear;
    pointer-events: none;
    z-index: -1;
  }

  @keyframes rippleEffect {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}

#calculatorContainer {
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px #787f8a;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.styledInput {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styledInput[type="number"]::-webkit-inner-spin-button,
.styledInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#salaryForm {
  display: grid;
}
#resultsContainer {
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px #787f8a;
  margin: 10px;
  padding: 10px;
}
#resultsContainer2 {
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px #787f8a;
  margin: 10px;
  padding: 10px;
}
#resultsContainer3 {
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px #787f8a;
  margin: 10px;
  padding: 10px;
}
#hourlySalaryResult {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

#resultsContainer h2 {
  text-align: center;
}
#chartContainer {
  /*border: 1px solid gray;*/
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px #787f8a;
  margin: 10px;
  padding: 10px;
}
#hourlySalaryResultContainer {
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px #787f8a;
  margin: 10px;
  padding: 10px;
}

#hourlySalaryResultContainer p {
  display: flex;
  justify-content: space-between;
}

.what {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

.header {
  font-size: 3rem;
  text-align: center;
  color: #000000;
  background-image: linear-gradient(18deg, #ff00f2, #00ffff);
  background-clip: text;
  color: transparent;
  animation: hue 10s infinite linear;
  -webkit-text-stroke: 1px black;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
